.class-sheet {
    table-layout: auto;
    height: fit-content;
    border-collapse: collapse;
    margin: 20px 20px;
    font-size: 16px;
    background-color: var(--color-table);
    align-items: center;
    z-index: 1;
}

.class-sheet .major-title {
    font-size: 2rem;
}

.class-sheet thead tr th{
    font-weight: bold;
}

.class-sheet th, .class-sheet td {
    padding: 10px 15px;
    text-align: left;
    position: relative;
}

.selection-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8%;
    height: 30%;
    background-color: var(--color-accent);
    border: 0;
    font-size: .7em;
    color: var(--color-text);
}

.blurred {
  filter: blur(4px);
  pointer-events: none; /* optional: prevent clicks on blurred background */
}


@media (prefers-color-scheme: dark){
    .class-sheet {
    background-color: var(--color-table-dark);
    }

    .selection-button {
    background-color: var(--color-accent-dark);
    color: var(--color-text-dark);
    }
}

@media (max-width: 500px) {
  .class-sheet {
    margin: 20px 20px;
    font-size: 12px;
  }

  .class-sheet .major-title {
    font-size: 1.4rem;
  }

  .class-sheet th, .class-sheet td {
    padding: 5px 8px;
    font-size: 1em;
  }

  .selection-button {
    width: 12%;
    height: 25%;
    font-size: 0.6em;
    top: 1px;
    right: 1px;
  }
}
